/* .THIS .slds-card__header{
    background-color: rgb(59, 178, 139);
}
.THIS .slds-card__body{
    background-color: rgb(59, 178, 139);
}
.THIS .slds-card__footer{
    background-color: rgb(59, 178, 139);
}

.THIS .slds-box{
    background-color: rgb(59, 178, 139);
}

.THIS .slds-theme_default{
    background-color: rgb(59, 178, 139);
} */